export(QualityTrimReads)
export(PlotMMDist)
export(PlotMMFracDist)
export(GeneralQualityStats)
export(PlotAlignAnnot)
export(PlotCoverageAnnot)
export(PlotPerCycleQuality)
export(PlotMeanReadQality)
export(PlotReadLengthDistribution)
export(PlotPerCycleBaseCalls)