export(Aplot2)
export(B1plot2)
export(B2plot2)
export(C1plot2)
export(C2plot2)
export(C3plot2)
export(D1plot2)
export(D2plot2)
export(PlotAlignAnnot)
export(PlotCoverageAnnot)
importFrom(IRanges,coverage)
importFrom(ShortRead,qa)
importFrom(ggbio,autoplot)
importFrom(ggbio,tracks)
importFrom(ggplot2,aes)
importFrom(ggplot2,facet_wrap)
importFrom(ggplot2,geom_bar)
importFrom(ggplot2,geom_boxplot)
importFrom(ggplot2,geom_density)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,labs)
importFrom(ggplot2,scale_x_discrete)
importFrom(ggplot2,theme)
importFrom(ggplot2,xlim)
importFrom(ggplot2,ylim)
importFrom(plyr,adply)
importFrom(plyr,ddply)
importFrom(plyr,mutate)
importFrom(reshape,melt)
